* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
    
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
ul {
    list-style: none;
}