
.container,container-fluid {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;

    .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    
    
    }
}

$grid-columns : 12 ;
$grid-xxl-breakpoint : 1400px;
$grid-xl-breakpoint : 1200px;
$grid-lg-breakpoint : 992px;
$grid-md-breakpoint : 768px;
$grid-sm-breakpoint : 576px;

@media (min-width: $grid-xxl-breakpoint) {
    .container {
    width: 1320px;
    }
    @for $i from 1 through $grid-columns {
    .col-xxl-#{$i} {
        width : (100 / 12) * $i * 1%;
        padding: 0 15px;
    }
    }
    
}

@media (min-width: $grid-xl-breakpoint) and (max-width: $grid-xxl-breakpoint) {
    .container {
    width : 1140px;
    }
    @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
        width : (100 / 12) * $i * 1%;
        padding: 0 15px;
    }
    }
}

@media (min-width: $grid-lg-breakpoint) and (max-width: $grid-xl-breakpoint) {
    .container {
    width: 960px;
    }

    @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
        width : (100 / 12) * $i * 1%;
        padding : 0 15px;
    }
    }
}

@media (min-width: $grid-md-breakpoint) and (max-width : $grid-lg-breakpoint) {
    .container {
    width : 720px
    }
    @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
        width : (100 / 12) * $i * 1%;
        padding : 0 15px; 
    }
    }
}

@media (min-width : $grid-sm-breakpoint) and (max-width : $grid-md-breakpoint) {
    .container {
    width : 540px;
    }
    @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
        width : (100 / 12) * $i * 1%;
        padding : 0 15px;
    }
    }
}

// flex- basis 

// $columns : 12 ;

// @for $i from 1 through $columns {
//     .col-#{$i} {
//         flex: 0 0 (100% / ($columns / $i))
//     }
//     .col-offset-#{$i}{
//         margin-left : (100% / ($columns / $i))
//     }
// }








// [class^=col-]{
//     flex-basis: 100%;
// }

// @media (min-width: 960px) {

//     @for $i from 1 through $columns {
//         .col-#{$i} {
//             flex: 0 0 (100% / ($columns / $i))
//         }
//         .col-offset-#{$i}{
//             margin-left : (100% / ($columns / $i))
//         }
//     }

// }


