.account {
  padding: 4rem 0;
  background: radial-gradient(#fff, $teal-500);

  .container {
    max-width: 1200px;
    padding: 0 1.3rem;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  &__col--2 {
    flex-basis: 50%;
  }
  &__img {
    max-width: 500px;
  }

  &__form {
    width: 300px;
    height: 400px;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    
  }
  &__btn {
      display: inline-block;
  }
  form {
        position: absolute;
        top: 130px;
        padding: 0rem 1.3rem;
        max-width: 300px;
        transition: transform 1s;
        
  }
  span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;

  }
  #Indicator {
    width: 100px;
    border: none;
    background: $teal-500;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;

  }
  #LoginForm {
      left: -300px;
  }
  #RegForm {
      left: 0;
  }
  input {
      width: 100%;
      height: 30px;
      margin: 0.6rem 0;
      padding: 0.3rem 0.3rem;
      border: 1px solid #ccc;
      outline: none;
      font-size: 0.9rem;
  }
  &__btn--two {
      width: 100%;
      margin-top: 1rem;
      padding: 0.3rem 0;
      background-color: $teal-500;
      border: none;
      color: #fff;
      border-radius: 50px;
      transition: 1s;
      
    &:hover {
        background-color: $lime-600;
    }
  }
  a {
      font-size: 0.9rem;
      color: $coolGray-600;
      margin-top: 0.6rem;
      display: block;
  }
}

// Responsive

@media only screen and (max-width: 600px) {

  .account {

    &__row {
      text-align: center;
    }
    &__col--2 {
      flex-basis: 100%;
    }
  }
}
