.cart {
    margin: 5rem 0;

    .container {
        max-width: 900px;
        margin: 0 2rem;
        margin: 0 auto;

    }
    &__table {
        width: 100%;
        border: table;
        border-collapse: collapse;

    }
    &__header--tr {
        
        
        

    }
    &__header--th {
        padding: 0.3rem 0.3rem;
        background-color: $teal-500;
        //margin-bottom: 0.6rem;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 400;
        

        &:first-child{
            text-align: left;
            
        }
        &:nth-child(2){
            text-align: center;
            
        }
        &:last-child{
            text-align: right;
            
        }
        

    }
    &__body--tr {
        

    }
    &__body--td {
        font-size: 0.9rem;
        color: $coolGray-900;


        &:nth-child(2){
            text-align: center;
            
        }
        &:last-child{
            text-align: right;
            
        }
        

    }
    input {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        outline: none;
        border: 2px solid $teal-500;
        border-radius: 5px;
    }
    &__content {
        display: flex;
        margin: 0.6rem 0;
        

    }

    img {
        max-width: 6rem;
        object-fit: cover;

    }
    &__info {
        margin-left: 0.6rem;

    }
    h4 {
        font-size: 1rem;
        font-weight: 400;
        color: $coolGray-700;

    }
    span {
        font-size: 0.9rem;
        color: $coolGray-700;

    }
    a {
        font-size: 0.9rem;
        color: $teal-700;

    }
    &__total {
        display: flex;
        justify-content: flex-end;
        
        
        

    }
    &__total--table {
        border-top: 2px solid $teal-500;
        width: 350px;
        
        
        

    }
    &__total--header {
        margin-top: 1rem;
        
        

    }
    &__total--th {
        font-size: 1rem;
        font-weight: 400;
        color: $coolGray-900;
        padding-top: 0.6rem;
        
    
        
        
        
        &:first-child{
            text-align: center;
            
        }
        &:last-child{
            text-align: right;
            
        }
    }
    &__total--body {
        
    }

    &__total--td {
        padding: 0.9rem 0;
        

        &:first-child{
            text-align: center;
            
        }
        &:last-child{
            text-align: right;
            
        }

    }
}