.products {
    padding: 3rem 0;

    .container {
        max-width: 1200px;
        padding: 0 1.3rem;
        margin: 0 auto;
        

    }
    &__title {
        text-align: center;
        

    }
    h2 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 5rem;
        color: $coolGray-600;
        position: relative;
        margin: 0 auto 4rem;

        &:hover::after {
            background-color: $lime-500;
            height: 1rem;
        }
        
        

    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 100%;
        padding: 3rem;

    }
    &__col--4 {
        flex-basis: 25%;
        padding: 1rem;
        transition: transform 1s;

        &:hover {
            transform: translateY(-10px);
        }
        

    }
    a {
        

    }

    &__img {
        width: 100%;
        object-fit: cover;

    }
    h3 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3rem;
        color: coolGray-500;
        margin-top: 0.9rem;

    }

    &__rating {

    }
    .fa {
        font-size: 0.9rem;
        color: $teal-600;
        margin: 0.6rem 0;

    }
    span {
        font-size: 0.9rem;
    }

    h2::after {
        position: absolute;
        content: '';
        width: 6rem;
        height: 5px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        background-color: $teal-600;
        border-radius: 20px;
        transition: 0.5s;

        
    }

    // products html 
    &__row--2 {
        margin: 0 1.6rem;
    }
    &__row--title {
        font-size: 1.6rem !important;
        font-weight: 500;
    }
    
    select {
        font-size: 0.8rem;
        padding: 0.3rem;
        border: 2px solid $teal-600;


        &:focus {
            outline: none;
        }

    }
    option {
        font-size: 0.8rem;

    }
    .page__btn {
        margin: 0 3rem;

    }
    .page__btn--1{
        width: 2.3rem;
        height: 2.3rem;
        line-height: 2.3rem;
        border: 2px solid $teal-700;
        display: inline-block;
        text-align: center;
        margin-right: 0.3rem;
        cursor: pointer;
        

        &:hover {
            background: $teal-500;
            color: #fff;
        }

    }

}

// Responsive 
@media only screen and (max-width : 600px) {

    .products {

        &__row {
            text-align: center;
        }
        &__col--4 {
            flex-basis: 100%;
        }
    }
    
}