// Media queries for menu 

@media only screen and (max-width : 800px) {

    .header {

        &__item {
            position: absolute;
            top: 70px;
            left: 0;
            background: $teal-800;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s ;
        }
        &__list {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            color: #fff;
            font-size: 1rem;
        }

        .menu-icon {
            display: block;
            cursor: pointer;
        }
    }

    

}

